.todo-footer__button {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
	color: #BEBEBE;
	cursor: pointer;
	transition: all .5s;
	opacity: 1;
	visibility: visible;
	a {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	a[data-active="true"] ~ * {
		color: #5F87E7;
	}
}

.todo-footer__button:hover {
	color: #5F87E7;
}

.todo-footer__icon {
	width: 2.8rem;
	height: 2.8rem;
}

.todo-footer__text {
	font-size: 1.4rem;
	text-transform: capitalize;
}