.todo-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 30px;
	row-gap: 24px;
	flex-wrap: wrap;
	padding: 2rem 2rem 1.4rem;
	color: #fff;
	background: linear-gradient(
    to right, 
    #3867D5,
	  #81C7F5
  );
	overflow: hidden;
	z-index: 999;
	box-shadow: 0 6px 12px rgba(10, 10, 10, .15);
}

.todo-header::before {
	content: "";
	position: absolute;
	left: -8rem;
	top: -9rem;
	width: 21rem;
	height: 21rem;
	background: linear-gradient(
    to right bottom, 
    #5C84DD,
	  #6893E2
  );
	border-radius: 50%;
	z-index: -1;
}

.todo-header::after {
	content: "";
	position: absolute;
	right: -2rem;
	top: -2rem;
	width: 9.5rem;
	height: 9.5rem;
	background-color: rgba(255, 255, 255, .15);
	border-radius: 50%;
	z-index: -1;
}

.todo-header__user {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

.todo-header__user img {
	width: 100%;
	height: 100%;
}