.todo-footer {
	position: relative;
	display: flex;
	align-items: center;
	gap: 30px;
	padding: 16px 24px;
	background-color: #FFFFFF;
	box-shadow: 0 -6px 12px rgba(10, 10, 10, .1);
	z-index: 1000;
}

.todo-footer > * {
	flex: 1 1 33.33%;
}